{% extends 'base.html.twig' %}
    {% block contener %}
        {{ parent() }}
            <article class="box post post-excerp">
            <header>
            {% block h1 %}
            {% if is_granted('IS_AUTHENTICATED_FULLY')%}
                <h2>Bienvenue {{app.user.pseudo}} sur la scénariothèque des gobelins</h2>
            {% else %}
                <h2>Bienvenue sur la scénariothèque des gobelins</h2>
            {% endif %}
            {% endblock %}
            <p> Vous trouverez les scénarios de quelques aventuriers en libre accès sur ce site,
            les avis et notes de chaque scénario</p>
            </header>
            </article>
            <article class="box post post-excerp">
                {# <div class="info"> #}
                <h2> Nos dernières aventures </h2>
                <table>
                    <th>Aventure</th>
                    <th>Scénarios</th>
                    <th>Nb d'avis</th>
                    {% for scenario in scenarios %}
                    <tr>
                        <td>
                            {{scenario.univers.nom}}
                        </td>
                        <td>
                            <a href="{{ path('scenario', {'id':scenario.id}) }}">{{scenario.nom}}</a>
                        </td>
                        <td>
                        {% set i = 0 %}
                        {% for commentaires in scenario.commentaires %}
                            {% set i = i + 1 %}
                            {% endfor %}
                        {{i}}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            {# </div> #}
        </article>
    {% endblock %}
