{% extends 'base.html.twig' %}
    {% block contener %}
        {{ parent() }}
        {{ form_start(formulaire) }}
            {{ form_widget(formulaire) }}
            <input type=submit value="modifier"/>
        {{ form_end(formulaire) }}
        <a href="{{ path('demande_delete', {'id':app.user.id}) }}">Demander la suppression de mon compte</a>
    {% endblock %}
