{% extends 'base.html.twig' %}
    {% block contener %}
        {{parent()}}
        <h2> {{titreScenario.nom}} </h2>
        <br>
        {{ form_start(formulaire) }}
            {{ form_widget(formulaire) }}
            <input type=submit value="Ajouter votre griffe!"/>
        {{ form_end(formulaire) }}
    {% endblock %}
