{% extends 'base.html.twig' %}
    {% block body %}
        {{parent()}}
        <h1> {{titreScenario.nom}} </h1>
        {{ form_start(formulaire) }}
            {{ form_widget(formulaire) }}
            <input type=submit value="Ajouter votre griffe!"/>
        {{ form_end(formulaire) }}
    {% endblock %}
