{% extends 'base.html.twig' %}
    {% block contener %}
        {{ parent() }}

            <article class="box post post-excerp">
                <header>
                    <h2> Choississez quel univers vous souhaitez découvrir ?</h2>
                    {{ form_start(formulaire) }}
                        {{ form_widget(formulaire.univers) }}<input type=submit value="Ok"/>
                    {{ form_end(formulaire) }}
                    </header>
            </article>


            <section class="box recent-comments">
						<header>
							<h2>Les Scénarios</h2>
						</header>
                        <ul>
                            {% if scenarios is defined and scenarios is not null %}
                                {% for scenario in scenarios %}
                                    <li class="current"><a href="{{ path('scenario', {'id':scenario.id}) }}" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0)";>{{scenario.nom}}</a></li>

                                    {% if is_granted("ROLE_ADMIN") %}
                                        {# <ul class="stats"> #}
                                            <a href="{{ path('supprimerScenario', {'id':scenario.id}) }}" class="icon fa-times-circle"></a>
                                            <a href="{{ path('modificationScenario', {'id':scenario.id}) }}" class="icon fa-edit"></a>
                                        {# </ul> #}
                                    {% endif %}
                                    {# on utilise une variable total et nb d'iteration pour calculer la moyenne #}
                                        {% set i = 0 %}
                                        {% set total = 0 %}
                                        {# calcul total et iteration #}
                                        {% for commentaire in scenario.commentaires %}
                                            {% set total = total + commentaire.note %}
                                            {% set i = i + 1 %}
                                        {% endfor %}
                                        {# calcul average #}
                                        <div class='info'>
                                        {% if total > 0 and i > 0 %}
                                            {% set average = total / i %}
                                            {# affichage dans le scenario de la moyenne des avis #}
                                            <span> note :
                                                {% for etoile in 1..average %}
                                                    &#9733;
                                                {% endfor %}
                                            </span>
                                        {% endif %}
                                    <br>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            </ul>
				</section>
    {% endblock %}
