    {% extends 'base.html.twig' %}
    {% block contener %}
        {{parent()}}
        <div class="innner">
        <article class="box post post-excerpt">
            <header>
                <h2> {{scenario.nom}} </h2>
                <img src="{{ asset('images/' ~ scenario.image) }}"/>
            </header>
            <div class="info">
                {# <ul class="stats"> #}
                    {% if is_granted("IS_AUTHENTICATED_FULLY") %}

                        <span class="date"><a href="{{path('session', {'id':scenario.id}) }}" class="icon fa-calendar"> sessions</a></span>
                        <span class="date"><a href="{{ path('commentaire', {'id':scenario.id}) }}" class="icon  fa-comment"> avis</a></span>
                    {% else %}
                        <span class="date"><span class="icon  fa-comment">donner votre avis</span></span>
                        <span class="date"><a href="{{ path('app_login')}}">connexion</a></span>
                        <span class="date"><a href="{{ path('inscription')}}">s'inscrire</a></span>
                        </span>
                    {% endif %}<br>
                    {% if is_granted("ROLE_ADMIN") %}
                        <span class="date"><a href="{{ path('session_new', {'id':app.user.id})   }}" class="icon fa-plus-square"> nouvelle session</a></span>
                    {% endif %}
                {# </ul> #}
            </div>
            <p> {{scenario.texte}} </p>


            <h2>Comentaires</h2>
            <table>
                <th>Auteur</th>
                <th>Commentaires</th>
                <th>Date</th>
                <th>Note</th>
                <th>Action Commentaire</th>
            {% for commentaire in scenario.commentaires %}
            <tr>
                <td>
                    {% for user in listeUser %}
                        {% if user == commentaire.auteur %}
                            {{user.pseudo}}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{commentaire.description}}</td>
                <td>{{commentaire.date|date("d-m-Y")}}</td>
                <td class='note'>


                {% for note in 1..commentaire.note %}
                    <span>&#9733;</span>
                {% endfor %}
                </td>
                <td>
                {% if is_granted('ROLE_ADMIN') or commentaire.auteur == app.user %}
                    <a href="{{ path('supprimerCommentaire', {'id':commentaire.id}) }}">Supprimer</a>
                    <a href="{{ path('modificationCommentaire', {'id':commentaire.id}) }}">Modifier</a>
                {% endif %}
                </td>
            </tr>
            {% endfor %}
            </table>
        </article>
        </div>
    {% endblock %}
