<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}scenariotheque{% endblock %}</title>
        <link rel="stylesheet" href={{ asset("/css/style.css") }}>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}

            <header>
                {% block header %}


                <nav>
                    {% block nav %}
                    <ul>
                        <li> <a href="{{ path('accueil') }}">Accueil</a></li>
                        <li> <a href="{{ path('scenarios') }}">Scénarios</a></li>

                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li> <a href="{{ path('app_logout') }}">Se déconnecter</a></li>
                            <li> <a href="{{ path('monProfil', {'id':app.user.id}) }}">Mon Compte</a></li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <li> <a href="{{ path('ajout') }}">Nouvelle aventure</a></li>
                                <li> <a href="{{ path('ajoutUnivers') }}">Les univers</a></li>
                                <li> <a href="{{ path('parametre_utilisateur') }}">Paramètre</a></li>
                            {% endif %}
                        {% else %}
                            <li> <a href="{{ path('app_login') }}">se connecter</a></li>
                            <li> <a href="{{ path('inscription') }}">s'inscrire</a></li>
                        {% endif %}

                    </ul>
                    {% endblock %}
                </nav>

            {% endblock %}
            </header>
                {% for message in
                    app.session.flashBag.get('scenario') %}
                    <span class='error'>{{message}}</span>
                {% endfor %}
                {% for message in
                    app.session.flashBag.get('univers') %}
                    <span class='error'>{{message}}</span>
                {% endfor %}
                {% for message in
                    app.session.flashBag.get('commentaire') %}
                    <span class='error'>{{message}}</span>
                {% endfor %}
                {% for message in
                    app.session.flashBag.get('suppression') %}
                    <span class='error'>{{message}}</span>
                {% endfor %}
                {% for message in
                    app.session.flashBag.get('suppressionCommentaire') %}
                    <span class='error'>{{message}}</span>
                {% endfor %}
                {% for message in
                    app.session.flashBag.get('modification') %}
                    <span class='error'>{{message}}</span>
                {% endfor %}
                {% for message in
                    app.session.flashBag.get('modificationCompte') %}
                    <span class='error'>{{message}}</span>
                {% endfor %}
                {% for message in
                    app.session.flashBag.get('suppressionUser') %}
                    <span class='error'>{{message}}</span>
                {% endfor %}
                {% for message in
                    app.session.flashBag.get('DemandeSuppressionUser') %}
                    <span class='error'>{{message}}</span>
                {% endfor %}
                {% for message in
                    app.session.flashBag.get('modificationUnivers') %}
                    <span class='error'>{{message}}</span>
                {% endfor %}
                {% for message in
                    app.session.flashBag.get('modificationCommentaire') %}
                    <span class='error'>{{message}}</span>
                {% endfor %}
                {% for message in
                    app.session.flashBag.get('inscription') %}
                    <span class='error'>{{message}}</span>
                {% endfor %}
                {% for message in
                    app.session.flashBag.get('suppressionPj') %}
                    <span class='error'>{{message}}</span>
                {% endfor %}
            
        {% endblock %}
        <br>
        {% block javascripts %}{% endblock %}
    </body>
</html>
