{% extends 'base.html.twig' %}

{% block contener %}
    {{ parent() }}
    <article class="box post post-excerp">
        <header>
            <h2>Inscription</h2>
            {{ form_start(inscriptionForm) }}
                <p>Email</p>
                {{ form_widget(inscriptionForm.email) }}
                <p>Pseudo</p>
                {{form_widget(inscriptionForm.pseudo)}}
                <p>Mot de passe</p>
                {{ form_widget(inscriptionForm.plainPassword) }}<br>
                <button class="btn">Inscription</button>
            {{ form_end(inscriptionForm) }}
        </header>
    </article>
{% endblock %}
